//
// Background Images
//

.bg-image {
  height: 100%;
  background: {
    size: cover;
    position: center;
  }

  &.stack {
    &\@l {
      @include breakpoint(medium down) {
        height: 40vw;
        position: absolute;

        > * {
          position: relative;
          margin-top: 40vw;
        }
      }
    }

    &\@m {
      @include breakpoint(small down) {
        height: 40vw;
        position: absolute;

        > * {
          position: relative;
          margin-top: 40vw;
        }
      }
    }

    &\@s {
      @include breakpoint(small down) {
        height: 40vw;
        position: absolute;

        > * {
          position: relative;
          margin-top: 40vw;
        }
      }
    }
  }
}


//
// Inline Images
//

//.image {}


//
// WordPress WYSIWYG image styling
//

img[class*='wp-image-'] {
  &.alignleft {
    float: left;
    margin-right: 1rem;
  }

  &.alignright {
    float: right;
    margin-left: 1rem;
  }

  &.aligncenter {
    display: block;
    margin: 0 auto 1rem auto;
  }
}

figure.wp-caption {
  margin: 0;
  max-width: 100%;

  &.alignleft {
    float: left;
    margin: 0 1rem 0 0;
  }

  &.alignright {
    float: right;
    margin: 0 0 0 1rem;
  }

  &.aligncenter {
    display: block;
    margin: 0 auto 1rem auto;
  }

  .wp-caption-text {
    font-size: rem-calc(12);
    font-weight: bold;
  }
}
